.navbar {
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 235px;
  background-color: #d9d9d9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: opacity 0.3s ease-in-out;
  border-radius: 30px;
  overflow: hidden;
}

@media (min-width: 640px) {
  .navbar {
    width: 500px;
    top: 50px;
  }
}

.navbar-border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: #70a86c;
  transition: width 0.3s ease;
}

.navbar:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.navbar nav ul {
  list-style: none;
  margin: 0;
  padding: 10px 0; /* Padding top and bottom */
  display: flex; /* Align items in a row */
  justify-content: center; /* Center the list */
  align-items: center;
}

.diseniun-logo {
  position: fixed;
  top: 15px;
  left: 15px;
  /* width: 500px; */
  background-color: #d9d9d9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: opacity 0.3s ease-in-out;
  border-radius: 50px; /* Ensure border-radius is applied */
  overflow: hidden; /* Hide overflow to maintain border-radius */
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease; /* Smooth transition for both properties */
}

.diseniun-logo:hover {
  transform: scale(1.05); /* Slightly enlarge the image */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Create a shadow that simulates elevation */
}

/* Adjust the width for small screens */
@media (min-width: 640px) {
  .diseniun-logo {
    height: 80px;
    width: 80px;
  }
}

.instagram-logo {
  position: fixed;
  top: 78px;
  left: 20px;
  height: 40px;
  width: 40px;
  display: flex;
  /* width: 500px; */
  background-color: #ffffff;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: opacity 0.3s ease-in-out;
  border-radius: 50px; /* Ensure border-radius is applied */
  overflow: hidden; /* Hide overflow to maintain border-radius */
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease; /* Smooth transition for both properties */
}
.facebook-logo {
  position: fixed;
  top: 130px;
  left: 20px;
  height: 40px;
  width: 40px;
  /* width: 500px; */
  background-color: #ffffff;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: opacity 0.3s ease-in-out;
  border-radius: 50px; /* Ensure border-radius is applied */
  overflow: hidden; /* Hide overflow to maintain border-radius */
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease; /* Smooth transition for both properties */
}

.tiktok-logo {
  position: fixed;
  top: 182px;
  left: 20px;
  height: 40px;
  width: 40px;
  /* width: 500px; */
  background-color: #ffffff;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: opacity 0.3s ease-in-out;
  border-radius: 50px; /* Ensure border-radius is applied */
  overflow: hidden; /* Hide overflow to maintain border-radius */
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease; /* Smooth transition for both properties */
}

/* Adjust the width for small screens */
@media (min-width: 640px) {
  .instagram-logo {
    top: 110px;
    left: 43px;
  }

  .facebook-logo {
    top: 90px;
    left: 100px;
  }

  .tiktok-logo {
    top: 37px;
    left: 117px;
  }
}

.navbar nav ul li {
  margin: 0 15px; /* Spacing between items */
}

.navbar nav ul li a {
  text-decoration: none; /* Remove underline from links */
  color: #333; /* Link color */
}

.content {
  padding-top: 40px; /* Add top padding to account for the fixed navbar */
}

.image-hover-effect {
  overflow: hidden; /* To maintain the rounded corners effect */
  border-radius: 0.5rem; /* Match your Image's borderRadius if necessary */
  display: inline-block; /* Or 'block' depending on your layout */
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease; /* Smooth transition for both properties */
}

.image-hover-effect:hover {
  transform: scale(1.02); /* Slightly enlarge the image */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Create a shadow that simulates elevation */
}

/* Adjust the width for small screens */
@media (min-width: 640px) {
  .image-hover-effect:hover {
    transform: scale(1.05); /* Slightly enlarge the image */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Create a shadow that simulates elevation */
  }
}

.carrousel {
  border-radius: 15px; /* Ensure border-radius is applied */
  overflow: hidden; /* Hide overflow to maintain border-radius */
}

.image-icon {
  position: fixed;
  top: 15px;
  right: 15px;
  /* width: 500px; */
  background-color: #d9d9d9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: opacity 0.3s ease-in-out;
  border-radius: 50px; /* Ensure border-radius is applied */
  overflow: hidden; /* Hide overflow to maintain border-radius */
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease; /* Smooth transition for both properties */
}

.image-icon:hover {
  transform: scale(1.05); /* Slightly enlarge the image */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Create a shadow that simulates elevation */
}

/* Adjust the width for small screens */
@media (min-width: 640px) {
  .image-icon {
    height: 80px;
    width: 80px;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(400px, 1fr)
  ); /* Creates a 2-column layout for larger screens */
  gap: 20px; /* Adjust the gap as needed */
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr; /* Adjusts to a 1-column layout for smaller screens */
  }
}

.esculturas-page {
  padding: 0px 10px; /* Default padding for small screens */
}

/* Increase padding for medium screens (e.g., tablets) */
@media (min-width: 640px) {
  .esculturas-page {
    padding: 20px 50px; /* Adjust as needed */
  }
}

/* Increase padding for large screens */
@media (min-width: 1024px) {
  .esculturas-page {
    padding: 20px 100px; /* Adjust as needed */
  }
}

/* Maximum padding for extra large screens */
@media (min-width: 1200px) {
  .esculturas-page {
    padding: 45px 200px; /* Maximum padding */
  }
}

/* styles/Bio.module.css */
.bioContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0; /* Light grey background */
}

.title {
  color: #333; /* Dark grey color */
  font-family: 'Arial', sans-serif;
  margin-bottom: 20px;
}

.bioContent {
  max-width: 600px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}

.bioTitle {
  color: #2a2a2a;
  font-family: 'Georgia', serif;
}

.bioText {
  color: #4a4a4a;
  line-height: 1.6;
  margin-bottom: 20px;
}

.bioImage {
  max-width: 100%;
  height: auto;
  border-radius: 4px; /* Slightly rounded corners for the image */
}
